<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>About</h1>
  </div>

  <p>Let us help you give your business a boost by providing a complete and beautiful online presence. In today’s world, doing business offline is not an option anymore. You need to show the world what you do, why you do it, and how you do it. You need to let the right clients find you.

We offer website and marketing services from beginning to end: logo creation, branding design, promotional videos, domain and host selection, website design, SEO development, marketing design and campaigns, business cards, signs, etc.  If you are already online and are looking for improvements or redesign, we can also help you with that.

DM us for more information. DigiGlee</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>