
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
      </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/projects" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/contact">Contact</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/index">Resume</a>
      </li>

  </ul>



  <!-- <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown trigger
    </button>
    <div class="dropdown-menu" aria-labelledby="dLabel">
      ...
    </div>
  </div> -->