
  <!-- <div class="city">
    <p> City:</p>
  </div> 
  <div class="temp">
    <p> Temp:</p>
  </div>  -->


  <!-- <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown trigger
    </button>
    <div class="dropdown-menu" aria-labelledby="dLabel">
      ...
    </div>
  </div> -->